<!DOCTYPE html>
<html>

<body>

<div class="main">
    <h1>Index</h1>

    <h2>message is ${message}</h2>
    <h2>size is ${articleList.size()}</h2>
    <h2>article is ${articleList.get(0).getTitle()}</h2>
    <h2>article is ${articleList.get(0).toString()}</h2>

</div>


</body>
</html>